PORT=6001
MONGO_URL=mongodb://localhost:27017/nesteeq
JWT_SECRET=changeme
JWT_REFRESH_SECRET=changeme2
REDIS_URL=redis://localhost:6379
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:6001
WEB_URL=http://localhost:3000

BREVO_API_KEY=
BREVO_SENDER_EMAIL=no-reply@example.com
BREVO_SENDER_NAME=Nesteeq
